In [1]:
import pandas as pd
import numpy as np
import csv

In [70]:
import pickle

In [40]:
from langdetect import detect_langs, detect
from html.parser import HTMLParser
import re
import string

In [5]:
file_list = ['03_20','04_20', '05_20', '06_20', '07_20', '08_20', '09_20', '10_20', '11_20','12_20','01_21','02_21', '22_03_20', '2_04_20', '2_05_20', '2_06_20', '2_07_20', '2_08_20', '2_09_20', '2_10_20', '2_11_20', '2_12_20', '2_01_21','2_02_21']

In [6]:
url = '/Users/jess/workspace/twint/twint/arabic_tweets{}.csv'

In [7]:
def get_data(file_list, url, sep):
    df_list = []
    for file in file_list:
        file_url = url.format(file)
        df_list.append(pd.read_csv(file_url, sep=sep))
    return pd.concat(df_list)

In [8]:
init_df = get_data(file_list, url, sep='\t')

/Users/jess/anaconda3/envs/metis/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3347: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [9]:
init_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1244776315158437889,1244776315158437889,2020-03-30 18:59:35 CDT,2020-03-30,18:59:35,-600,783194432954855424,tdy24,حدث اليوم,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1244776092516454405,1244776092516454405,2020-03-30 18:58:41 CDT,2020-03-30,18:58:41,-600,1234019558337503234,pettote33,مميز,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1244775934315704322,1244775934315704322,2020-03-30 18:58:04 CDT,2020-03-30,18:58:04,-600,998312120,faal990,Folan,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1244775905907671040,1244775905907671040,2020-03-30 18:57:57 CDT,2020-03-30,18:57:57,-600,8726092,isudanese,ا لـ ـحـ ـسـ ـن جـ ـعـ ـفـ ـر,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1244775872957120513,1244775872957120513,2020-03-30 18:57:49 CDT,2020-03-30,18:57:49,-600,975056755788079104,maghribonline,🇲🇦 Maghrib.Online 🌐,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [10]:
init_df.shape

(1302172, 36)

In [11]:
init_df.sort_values(by='date', inplace=True, ascending=True)

In [12]:
init_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
117750,1240801236800229376,1240801236800229376,2020-03-19 19:44:02 CDT,2020-03-19,19:44:02,-600,865542222535573505,wala_raffas,د/ و لـ ـلـ ء ا لـ ـر فـ ـا س,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
118320,1240734577053835265,1240734544258621440,2020-03-19 15:19:09 CDT,2020-03-19,15:19:09,-600,2547827340,alkhaleejonline,الخليج أونلاين,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
118319,1240734579859881984,1240734544258621440,2020-03-19 15:19:10 CDT,2020-03-19,15:19:10,-600,2547827340,alkhaleejonline,الخليج أونلاين,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
118318,1240734661149634561,1240734661149634561,2020-03-19 15:19:29 CDT,2020-03-19,15:19:29,-600,238751854,abu_ghayath,عبدالعزيز الغَريبي,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
118317,1240734670708510728,1240734670708510728,2020-03-19 15:19:31 CDT,2020-03-19,15:19:31,-600,2782918928,khaled5saba,خالد السبع,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [13]:
init_df.describe()

,id,conversation_id,timezone,user_id,replies_count,retweets_count,likes_count,video,near,geo,source,user_rt_id,user_rt,retweet_id,retweet_date,translate,trans_src,trans_dest
count,1.302172e+06,1.302172e+06,1302172.0,1.302172e+06,1.302172e+06,1.302172e+06,1.302172e+06,1.302172e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.296016e+18,1.295599e+18,-600.0,4.700220e+17,1.464998e+00,3.104316e+00,9.568943e+00,3.492634e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,4.068062e+16,4.244815e+16,0.0,5.510253e+17,3.943467e+01,6.022876e+01,1.156647e+02,4.767375e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.240634e+18,6.471292e+16,-600.0,1.138000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.255480e+18,1.255459e+18,-600.0,4.473887e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.293859e+18,1.293405e+18,-600.0,2.928200e+09,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.332397e+18,1.332365e+18,-600.0,1.083443e+18,1.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.365814e+18,1.365814e+18,-600.0,1.365713e+18,3.294400e+04,3.682200e+04,4.746500e+04,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
init_df.drop(columns=['near', 'geo', 'source', 'user_rt_id', 'user_rt', 'retweet_id', 'retweet_date', 'translate', 'trans_src', 'trans_dest'], inplace=True)

In [15]:
init_df.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'reply_to'],
      dtype='object')

In [16]:
print(init_df['date'].max(), init_df['date'].min())

2021-02-27 2020-03-19

In [40]:
def get_value_counts(df):
    for colname, colval in df.iteritems():
        print(colname, colval.value_counts())

In [41]:
get_value_counts(init_df)

id 1255538494937731072    3
1255468342296686596    3
1255443984249470977    3
1255467706792509445    3
1255453478173974528    3
                      ..
1322081943333277696    1
1266657163872788481    1
1321597251974799365    1
1314826686207332355    1
1310714049177563143    1
Name: id, Length: 706073, dtype: int64
conversation_id 1244671105631125506    1285
1244667789576732672    1045
1264621606384603136     843
1260575804418920449     687
1260676104823717895     668
                       ...
1277596655198654465       1
1261994120064782338       1
1288347180688904192       1
1288910116042018816       1
1310714049177563143       1
Name: conversation_id, Length: 649938, dtype: int64
created_at 2020-03-30 13:00:00 CDT    72
2020-03-30 12:00:00 CDT    70
2020-03-30 14:00:00 CDT    62
2020-03-30 15:00:00 CDT    62
2020-03-30 18:00:00 CDT    56
                           ..
2020-10-24 11:53:49 CDT     1
2020-07-26 14:16:30 CDT     1
2020-05-18 20:51:28 CDT     1
2020-10-23 12:42:34 CDT     1
2020-08-06 12:22:09 CDT     1
Name: created_at, Length: 588594, dtype: int64
date 2020-03-30    100114
2020-04-29     54135
2020-05-30     52252
2020-06-29     35430
2020-07-29     28709
               ...
2020-07-22       766
2020-08-31        90
2020-09-30        88
2020-07-31        83
2020-10-31        80
Name: date, Length: 188, dtype: int64
time 12:00:00    312
13:00:00    307
15:00:00    300
09:30:00    294
03:00:00    286
           ...
22:21:24      1
19:36:54      1
23:03:14      1
20:01:27      1
22:03:05      1
Name: time, Length: 84148, dtype: int64
timezone -600    846395
Name: timezone, dtype: int64
user_id 114251189              3660
169108336              3654
31395655               3629
216289357              3603
805692634127736832     3454
                       ...
375237997                 1
1135657982736441350       1
1279474172008202241       1
900995875136253953        1
502227180                 1
Name: user_id, Length: 243377, dtype: int64
username albayannews        3660
aawsat_news        3654
menafnarabic       3629
skynewsarabia      3603
cgtnarabic         3454
                   ...
moe_ryh_01_2013       1
iss11v                1
__malaky__            1
samio2019             1
99sak                 1
Name: username, Length: 243377, dtype: int64
name صحيفة البيان                   3660
صحيفة الشرق الأوسط             3654
MENAFN.com Arabic              3629
سكاي نيوز عربية                3603
CGTN Arabic                    3454
                               ...
🇴🇲 AmMaR Al Ba7RaNi 💚             1
ساد كلاون🤡                        1
A R 8                             1
𝗠𝗔𝗥𝗜𝗔𝗠🧜‍♀️                        1
د.حسـين مرفق Hussein Morfeq       1
Name: name, Length: 212963, dtype: int64
place {'type': 'Point', 'coordinates': [25.19812155, 55.27766705]}    528
{'type': 'Point', 'coordinates': [25.19725451, 55.2777046]}     277
{'type': 'Point', 'coordinates': [12.7788972, 45.0409881]}       94
{'type': 'Point', 'coordinates': [25.19750874, 55.27651906]}     76
{'type': 'Point', 'coordinates': [25.19702698, 55.27695894]}     37
                                                               ...
{'type': 'Point', 'coordinates': [20.06164551, 41.45242317]}      1
{'type': 'Point', 'coordinates': [20.01373555, 41.48190196]}      1
{'type': 'Point', 'coordinates': [29.32472609, 47.90359898]}      1
{'type': 'Point', 'coordinates': [20.06155396, 41.45227813]}      1
{'type': 'Point', 'coordinates': [21.39468206, 39.27386285]}      1
Name: place, Length: 163, dtype: int64
tweet خطر #كوفيد_19 لم ينته.. لحمايتكم وحماية مجتمعكم وللمساهمة في الحد من انتشار فيروس كورونا المستجد، حافظوا على ارتداء الكمامة وغسل يديكم بمطهر كحولي أو بالماء والصابون بإستمرار #البس_كمامة #WearAMask                                                                                              7658
خطر كوفيد-19 لم ينته.. لحمايتكم وحماية مجتمعكم وللمساهمة في الحد من انتشار فيروس كورونا المستجد، حافظوا على ارتداء الكمامة وغسل يديكم بمطهر كحولي أو بالماء والصابون بإستمرار #البس_كمامة @WHOEMRO                                                                                                 2114
خطر كوفيد-19 لم ينهتي.. لحمايتكم وحماية مجتمعكم وللمساهمة في الحد من انتشار فيروس كورونا المستجد، حافظوا على ارتداء الكمامة وغسل يديكم بمطهر كحولي أو بالماء والصابون بإستمرار #البس_كمامة @WHOEMRO                                                                                                 623
@aazzm_org 1- كوفيد 19   #عيدية_عازم   #جمعية_عازم_للإعاقة_الحركية                                                                                                                                                                                                                                  341
قيادتنا تحقق المستحيل وتضع صحة المواطنين والمقيمين على رأس أولوياتها، مطبقة أعلى المعايير العالمية لمكافحة #كوفيد_19.. وبالتزامنا نحافظ على الإنجاز، لنتكاتف جميعًا للوصول إلى "صفر" إصابات. #محمد_بن_زايد_قائد_ملهم #نلتزم_لننتصر #CommitToWin @Forsan_UAE                                         239
                                                                                                                                                                                                                                                                                                   ...
•او پی ڈیز او رآپریشن تھیٹرز مکمل فنکشنل ہونے سے مریضوں کو سہولت ملے گی۔  •اللہ تعالیٰ کے فضل وکرم اور پنجاب حکومت کے موثر اقدامات سے کورونا کا پھیلاؤ روکنے میں مدد ملی ہے۔  •ڈاکٹروں،نرسوں او رپیرا میڈیکل اسٹاف کے لئے   حفاظتی تدابیر کو ہر صورت یقینی بنایا جائے @UsmanAKBuzdar                  1
🔴 وزارة الصحة تعلن عن تسجيل 1510 إصابة جديدة بفيروس كورونا (كوفيد-19) في آخر 24 ساعة بالمغرب.. حالات الشفاء ترتفع إلى 31576 مقابل 743 حالة وفاة.  للمزيد من الأرقام والتفاصيل:  https://t.co/xKC9Gf1Ueq  #كوفيد_19 #صحة #فيروس #كورونا #covid19 #كورونا_المغرب #المغرب  https://t.co/9vwnVFneqN       1
400 ألف إصابة بـ #فيروس_كورونا في #الأرجنتين #أخبار_الآن   https://t.co/5DI5wcB9vA                                                                                                                                                                                                                    1
 https://t.co/60vDBXUtWT  الحلقة الثانية | "بطولات الأهلي بلاعبي الدراويش".. #شريف_عبد_الفضيل يخرج عن صمته برد ناري  الحوار كامل أول كومنت 👇  رأيكم يهمنا ⁦❤️⁩ @sherifabdlfadil @AlAhly @Ismailyofficial #الاهلى_نادى_القرن #الأهلي_أون_لاين #كوفيد_19                                                1
بريطانيا تطلب 60 مليون جرعة من لقاح محتمل لفيروس كورونا لتخطي الحجب |  https://t.co/xsZj3Np8QI  https://t.co/sBUUcLxFkZ                                                                                                                                                                               1
Name: tweet, Length: 676084, dtype: int64
language ar     795426
und     25935
ur      18839
en       2855
fa       1892
ca        391
fr        368
ps        264
tr         51
in         49
ckb        46
ja         39
iw         35
es         26
hi         25
ko         17
zh         14
tl         13
it         12
vi         11
ro         11
et          9
cs          7
cy          7
de          6
pt          6
lt          5
ht          5
da          4
sd          4
pl          4
eu          3
hu          3
ug          3
nl          3
fi          2
mr          1
si          1
ne          1
sv          1
ta          1
Name: language, dtype: int64
mentions []                                                                                                                                                                                                                                                                                                                                                                                              797515
[{'screen_name': 'whoemro', 'name': 'who emro', 'id': '259372802'}]                                                                                                                                                                                                                                                                                                                               2951
[{'screen_name': 'youtube', 'name': 'youtube', 'id': '10228272'}]                                                                                                                                                                                                                                                                                                                                 1882
[{'screen_name': 'nabdapp', 'name': 'تطبيق نبض nabd app', 'id': '941109194'}]                                                                                                                                                                                                                                                                                                                     1672
[{'screen_name': 'mophqatar', 'name': 'وزارة الصحة العامة', 'id': '91066794'}]                                                                                                                                                                                                                                                                                                                    1127
                                                                                                                                                                                                                                                                                                                                                                                                 ...
[{'screen_name': 'spurs', 'name': 'san antonio spurs', 'id': '18371803'}, {'screen_name': 'nbastore', 'name': 'nba store', 'id': '16889733'}, {'screen_name': '94_gadoory', 'name': 'قدّوري', 'id': '1517749172'}]                                                                                                                                                                                   1
[{'screen_name': 'almajlliss', 'name': 'المجلس', 'id': '491229856'}]                                                                                                                                                                                                                                                                                                                                 1
[{'screen_name': 'indexcensorship', 'name': 'index on censorship', 'id': '19341389'}]                                                                                                                                                                                                                                                                                                                1
[{'screen_name': 'imrankhanpti', 'name': 'imran khan', 'id': '122453931'}, {'screen_name': 'nih_pakistan', 'name': 'nih pakistan', 'id': '910396806902755328'}, {'screen_name': 'zfrmrza', 'name': 'zafar mirza', 'id': '55776150'}, {'screen_name': 'un', 'name': 'united nations', 'id': '14159148'}, {'screen_name': 'who', 'name': 'world health organization (who)', 'id': '14499829'}]         1
[{'screen_name': 'antonioguterres', 'name': 'antónio guterres', 'id': '811229675758505984'}, {'screen_name': 'unarabic', 'name': 'الأمم المتحدة', 'id': '460210929'}, {'screen_name': 'unodc_aml', 'name': 'un anti-money laundering', 'id': '781107600557563904'}]                                                                                                                                  1
Name: mentions, Length: 13346, dtype: int64

urls []                                                                                                                                                                                                                                                                                                                                                                                                               609744
['https://twitter.com/i/events/1219057585707315201']                                                                                                                                                                                                                                                                                                                                                               1392
['https://www.mahdialumma.com/showthread.php?p=331845']                                                                                                                                                                                                                                                                                                                                                            1277
['https://twitter.com/i/events/1258372693184745479']                                                                                                                                                                                                                                                                                                                                                                500
['https://learn.mbru.ac.ae/courses/covid19ar']                                                                                                                                                                                                                                                                                                                                                                      406
                                                                                                                                                                                                                                                                                                                                                                                                                  ...
['https://youtu.be/5VAhAdqb-Go']                                                                                                                                                                                                                                                                                                                                                                                      1
['https://www.skynewsarabia.com/world/1347773']                                                                                                                                                                                                                                                                                                                                                                       1
['https://www.yeniyemen.net/post/view/66182#.XqmYbS8e1e0.whatsapp']                                                                                                                                                                                                                                                                                                                                                   1
['http://ow.ly/E9Fo30rcm0O']                                                                                                                                                                                                                                                                                                                                                                                          1
['https://www.hakaekonline.com/article/120999/%D9%83%D9%88%D9%81%D9%8A%D8%AF-19-%D9%88%D8%B2%D9%8A%D8%B1-%D8%A7%D9%84%D8%B5%D8%AD%D8%A9-%D9%8A%D9%86%D8%B4%D8%B1-%D9%82%D8%A7%D8%A6%D9%85%D8%A9-%D8%A7%D9%84%D8%AF%D9%88%D9%84-%D8%A7%D9%84%D8%A7%D9%83%D8%AB%D8%B1-%D8%AE%D8%B7%D9%88%D8%B1%D8%A9-%D9%88%D8%A7%D9%84%D8%A7%D8%AE%D8%B1%D9%89-%D8%A7%D9%84%D8%A7%D9%82%D9%84-%D8%AE%D8%B7%D9%88%D8%B1%D8%A9']         1
Name: urls, Length: 170348, dtype: int64
photos []                                                                                                        606346
['https://pbs.twimg.com/media/Ed3i61uXkAIZjCu.jpg', 'https://pbs.twimg.com/media/Ed3i61xXkAAtKKj.jpg']       132
['https://pbs.twimg.com/tweet_video_thumb/ET2xyHkWsAMBxxf.jpg']                                               44
['https://pbs.twimg.com/media/EWDFEN2WAAM5-ck.jpg']                                                           14
['https://pbs.twimg.com/media/EVn71RtU0AIAVZX.jpg']                                                           14
                                                                                                           ...
['https://pbs.twimg.com/media/Ei_tw5YXkAIJoQn.png']                                                            1
['https://pbs.twimg.com/media/EZDeH40WAAI20Mg.jpg']                                                            1
['https://pbs.twimg.com/media/Eh-cWWCWoAEHUK6.jpg']                                                            1
['https://pbs.twimg.com/media/EeH_o0_XgAkGfV4.jpg']                                                            1
['https://pbs.twimg.com/media/EbRootGXQAAMmrs.jpg']                                                            1
Name: photos, Length: 193794, dtype: int64
replies_count 0       605359
1       141536
2        36645
3        17430
4        10161
         ...
809          1
1134         1
301          1
614          1
173          1
Name: replies_count, Length: 471, dtype: int64
retweets_count 0       584094
1       103692
2        43708
3        25182
4        16370
         ...
768          1
766          1
1273         1
759          1
2046         1
Name: retweets_count, Length: 699, dtype: int64
likes_count 0       404533
1       137594
2        63512
3        38354
4        26676
         ...
1401         1
3377         1
1174         1
664          1
620          1
Name: likes_count, Length: 1388, dtype: int64
hashtags []                                                                       412134
['كورونا']                                                                21991
['كوفيد_19']                                                              17135
['كوفيد_19', 'البس_كمامة', 'wearamask']                                    8040
['كورونا', 'كوفيد_19']                                                     4377
                                                                          ...
['البرازيل', 'مليون', 'إصابة', 'كورونا']                                      1
['ecat', 'المكان', 'المدن_المستدامة', 'كوفيد']                                1
['روما', 'كورونا', 'خليك_في_البيت', 'كوفيد_19', 'covid_19', 'corona']         1
['خريج_كوفيد']                                                                1
['صحة_حائل', 'وزارة_الصحة']                                                   1
Name: hashtags, Length: 140355, dtype: int64
cashtags []                 846242
['gild']               27
['pfe', 'bntx']         9
['mrna']                7
['worx']                4
                    ...
['jnj', 'mrna']         1
['jnj', 'nke']          1
['vix']                 1
['ba']                  1
['bngo']                1
Name: cashtags, Length: 81, dtype: int64
link https://twitter.com/algeriaveto/status/1255550984782217216        3
https://twitter.com/alkhaleej/status/1255580298231906305          3
https://twitter.com/mohgovjo/status/1255521643323146245           3
https://twitter.com/KahtaniAbdulah/status/1255525616989978625     3
https://twitter.com/ladysfirst3636/status/1255501180161134593     3
                                                                 ..
https://twitter.com/NET_AD/status/1299649242361999360             1
https://twitter.com/hamdanalgahmdi/status/1288849258628685830     1
https://twitter.com/PTIGRWOfficial/status/1277311768063328264     1
https://twitter.com/HajjarM_/status/1322200845572853760           1
https://twitter.com/Almudhairibteam/status/1292531320866902018    1
Name: link, Length: 706073, dtype: int64
retweet False    846395
Name: retweet, dtype: int64
quote_url https://twitter.com/ElSherif/status/1328050247227092993            197
0                                                                  150
https://twitter.com/HHShkMohd/status/1327584451770130432            50
https://twitter.com/ScreenMix/status/1275744737031598081            48
https://twitter.com/DrTedros/status/1244637948190035971             42
                                                                  ...
https://twitter.com/7akeem_Bal7eel/status/1293351071646126080        1
https://twitter.com/SaudiMOH/status/1277219503626170368              1
https://twitter.com/JobZatyCom/status/1310614987568754689            1
https://twitter.com/ShaikhDadow/status/1240674510015168513?s=19      1
https://twitter.com/LiveWellMOH/status/1266082963520978944           1
Name: quote_url, Length: 22706, dtype: int64
video 0    556717
1    289678
Name: video, dtype: int64

thumbnail https://pbs.twimg.com/ext_tw_video_thumb/1269982678088126464/pu/img/B6Zqtn2S7eDh0E_n.jpg    178
https://pbs.twimg.com/ext_tw_video_thumb/1287444825558724608/pu/img/BkR3N1zjZ3v59IaD.jpg    155
https://pbs.twimg.com/media/Ed3i61uXkAIZjCu.jpg                                             132
https://pbs.twimg.com/ext_tw_video_thumb/1326351508137521153/pu/img/OngEIVij7tciHsgM.jpg     50
https://pbs.twimg.com/tweet_video_thumb/ET2xyHkWsAMBxxf.jpg                                  44
                                                                                           ...
https://pbs.twimg.com/media/Eghmq7LUcAAQfep.jpg                                               1
https://pbs.twimg.com/media/EjBo3dVWoAMhxOE.jpg                                               1
https://pbs.twimg.com/media/EZR_jIaWAAYnJ61.jpg                                               1
https://pbs.twimg.com/media/EYiAI_1WsAAVrJM.jpg                                               1
https://pbs.twimg.com/media/EfqH9jXXgAEx6xW.jpg                                               1
Name: thumbnail, Length: 230227, dtype: int64
reply_to []                                                                                                                                                                       705878
[{'screen_name': 'SaudiNews50', 'name': 'أخبار السعودية', 'id': '474886468'}]                                                                                              1567
[{'screen_name': 'HailShabab', 'name': 'مجلس شباب حائل', 'id': '1213927213919170560'}]                                                                                     1257
[{'screen_name': 'SaudiMOH', 'name': 'و ز ا ر ة ا لـ صـ حـ ة السعودية', 'id': '280172306'}]                                                                                1117
[{'screen_name': 'Tahoor_sa', 'name': 'جمعية طَهُور الخيرية', 'id': '1128504669540683779'}]                                                                                1017
                                                                                                                                                                          ...
[{'screen_name': 'c12cc151617', 'name': 'JustMe', 'id': '1175159444294029312'}]                                                                                               1
[{'screen_name': 'SafwanFR', 'name': 'safwan', 'id': '1019100306901225474'}]                                                                                                  1
[{'screen_name': 'AlFadhelAhmad', 'name': 'أحمد نبيل الفضل', 'id': '449018553'}, {'screen_name': 'aldousari_haya_', 'name': 'هيا الصقر الدوسري', 'id': '3851130319'}]         1
[{'screen_name': 'h1_h19', 'name': '_h1', 'id': '803655503255629824'}]                                                                                                        1
[{'screen_name': 'Abd_ulr19', 'name': 'ﮬﹻۅسۤ(صويحب الله)', 'id': '1302963046818762753'}]                                                                                      1
Name: reply_to, Length: 66068, dtype: int64

In [26]:
detect_langs(init_df['tweet'].iloc[0])

[ar:0.9999981651795096]

In [25]:
type(init_df['tweet'].iloc[0])

str

In [51]:
init_df['text'].iloc[0]

'كورونا  صحة الرياض تثقيف دولاءالرفاس السعوديونيدواحدةضدكورونا السعودية خليكمفيالبيت خليكبالبيت'

In [47]:
def clean_text(text):
    text = HTMLParser().unescape(text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [48]:
init_df['text'] = init_df.tweet.apply(clean_text)

<ipython-input-47-7ca60d5caaa6>:2: DeprecationWarning: The unescape method is deprecated and will be removed in 3.5, use html.unescape() instead.
  text = HTMLParser().unescape(text)

In [49]:
init_df[['tweet', 'text']].head()

,tweet,text
117750,#كورونا #كوفيد_19 #صحة #الرياض #تثقيف #د_ولاء_...,كورونا صحة الرياض تثقيف دولاءالرفاس السعوديون...
118320,شركة إينوفيو.. تجارب على الحمض النووي | قال جي...,شركة إينوفيو تجارب على الحمض النووي قال جيه ج...
118319,استخدام دواء الملاريا في علاج مرضى #كوفيد_19.....,استخدام دواء الملاريا في علاج مرضى وترامب يبش...
118318,#2020 #Covid_19 #corona #خليك_بالبيت #كوفيد_19...,corona خليكبالبيت كورونا
118317,الشرير #كورونا زاد الطيب الليلة ويعلمكم عن الم...,الشرير كورونا زاد الطيب الليلة ويعلمكم عن المع...

In [58]:
# init_df['lang'] = init_df['text'].map(lambda x: detect(x))

In [56]:
def detect_lang(text):
    try:
        lang = detect(text)
        return lang
    except:
        return "NaN"

In [57]:
init_df['lang'] = init_df['text'].apply(detect_lang)

In [59]:
init_df.lang.value_counts()

ar     1245116
ur       28827
en        9265
so        5104
fa        4938
NaN       4299
fr         996
ca         607
et         424
id         296
de         259
it         192
tr         184
ro         161
sw         160
cy         156
es         137
fi         102
nl          94
hu          88
sl          82
tl          81
pl          76
he          67
af          49
sv          47
sq          44
lt          44
hr          40
cs          37
da          34
no          33
pt          30
th          25
lv          22
ja          21
sk          16
vi           8
ta           3
ru           2
hi           2
bn           2
ne           1
bg           1
Name: lang, dtype: int64

In [60]:
init_df['lang'].isnull().sum()

0

In [61]:
ar_df = init_df[init_df['lang']=='ar']

In [62]:
init_df.shape

(1302172, 28)

In [63]:
ar_df.shape

(1245116, 28)

In [ ]:
def clean_text(text):
#     text = HTMLParser().unescape(text)
    text = re.sub(pattern='https?://\S+|www\.\S+', repl=' ', string=text)
    text = re.sub('[%s]' % re.escape(string.punctuation), ' ', text)
    text = re.sub('\w*\d\w*', ' ', text)
    return text

In [ ]:
url_pattern = r'https?://\S+|www\.\S+'
text = re.sub(pattern=url_pattern, repl=' ', string=text)
return without_urls

In [66]:
ar_df['text'] = ar_df.tweet.apply(clean_text)

<ipython-input-64-013f1beef796>:2: DeprecationWarning: The unescape method is deprecated and will be removed in 3.5, use html.unescape() instead.
  text = HTMLParser().unescape(text)
<ipython-input-66-5315391cb879>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ar_df['text'] = ar_df.tweet.apply(clean_text)

In [69]:
ar_df[['tweet', 'text']].head()

,tweet,text
117750,#كورونا #كوفيد_19 #صحة #الرياض #تثقيف #د_ولاء_...,كورونا كوفيد صحة الرياض تثقيف د ولاء ا...
118320,شركة إينوفيو.. تجارب على الحمض النووي | قال جي...,شركة إينوفيو تجارب على الحمض النووي قال جي...
118319,استخدام دواء الملاريا في علاج مرضى #كوفيد_19.....,استخدام دواء الملاريا في علاج مرضى كوفيد ...
118318,#2020 #Covid_19 #corona #خليك_بالبيت #كوفيد_19...,Covid corona خليك بالبيت كوفيد كور...
118317,الشرير #كورونا زاد الطيب الليلة ويعلمكم عن الم...,الشرير كورونا زاد الطيب الليلة ويعلمكم عن الم...

In [71]:
ar_df.to_pickle("ar_df.pkl")

In [73]:
ar_df[['tweet', 'text']].sample(25, random_state=55)

,tweet,text
18218,دعا المركز الوطني لتعزيز الصحة النفسية أفراد ا...,دعا المركز الوطني لتعزيز الصحة النفسية أفراد ا...
35381,#نعود_بحذر #نعود_بوعي #كوفيد_19 https://t.c...,نعود بحذر نعود بوعي كوفيد https t co
33210,لضمان تسهيل حصول الفئات الأكثر حاجة على اللقاح...,لضمان تسهيل حصول الفئات الأكثر حاجة على اللقاح...
3408,"وكالات || منظمة الصحة العالمية: ""كوفيد طويل ...",وكالات منظمة الصحة العالمية كوفيد طويل ...
56077,اللحين يوميا بين ٣٠-٥٠ مصاب منالكيافرين القادم...,اللحين يوميا بين مصاب منالكيافرين القادمين...
92822,#المسار | أندية تفسخ عقود لاعبيها وأجهزتها ا...,المسار أندية تفسخ عقود لاعبيها وأجهزتها ا...
58031,في الوقت الذي احتفلت فيه الكونغو بنهاية وباء إ...,في الوقت الذي احتفلت فيه الكونغو بنهاية وباء إ...
17099,@sport24_tv مادري كورونا ولا المفاطيح هههههههه...,tv مادري كورونا ولا المفاطيح هههههههه http...
48481,أكثر من 2.5 مليون إصابة بفيروس #كورونا في #الو...,أكثر من مليون إصابة بفيروس كورونا في الو...
11537,فيروس كورونا..أكثر من 62 مليون إصابة حول العال...,فيروس كورونا أكثر من مليون إصابة حول العالم...
28345,هل تكفي جرعة واحدة من اللقاح لمتعافي كوفيد-19 ...,هل تكفي جرعة واحدة من اللقاح لمتعافي كوفيد ؟...
31750,#نطالب_بالدوام_حضوريا غير صحيح فبوجود كورونا ا...,نطالب بالدوام حضوريا غير صحيح فبوجود كورونا ا...
19338,#عيد_بلا_كوفيد https://t.co/hQwKXABpeT,عيد بلا كوفيد https t co hQwKXABpeT
21239,مراكز السيطرة على الأمراض في أمريكا: وفيات كور...,مراكز السيطرة على الأمراض في أمريكا وفيات كور...
28088,نداء للجنة العليا ضد كوفيد 19 بأن يكون لهذه ال...,نداء للجنة العليا ضد كوفيد بأن يكون لهذه الل...
15204,"دائرة السياحة والتسويق التجاري في #دبي ""دبي لل...",دائرة السياحة والتسويق التجاري في دبي دبي لل...
10363,@uae_3G #سعودي_يناشد_محمد_بن_زايد سيدي ووالدي ...,uae سعودي يناشد محمد بن زايد سيدي ووالدي ...
30401,وكالات - الرئيس أردوغان: إلى جانب كورونا واجهن...,وكالات الرئيس أردوغان إلى جانب كورونا واجهن...
39473,وكالة أنباء الإمارات – الصين تسجل 27 إصابة جدي...,وكالة أنباء الإمارات – الصين تسجل إصابة جديد...
35097,تم ولله الحمد هذا اليوم الخميس أخذي للجرعه الأ...,تم ولله الحمد هذا اليوم الخميس أخذي للجرعه الأ...
55424,@angrypicnic27 ولا كأنه في إشي اسمه كورونا 😂 ط...,ولا كأنه في إشي اسمه كورونا 😂 طب ماشي متحمس...
38371,لا يمكننا الاستمرار في العيش بهذه الطريقة في ز...,لا يمكننا الاستمرار في العيش بهذه الطريقة في ز...
8513,بلغة الأرقام التريند و كأنه بادي ينزل من ٢٢ حا...,بلغة الأرقام التريند و كأنه بادي ينزل من حال...
23777,@perry_Basiouny صح الكلام بس دى مش عرض السلبيا...,perry Basiouny صح الكلام بس دى مش عرض السلبيا...
24081,91 حالة إيجابية جديدة بصفاقس كوفيد 19 https:/...,حالة إيجابية جديدة بصفاقس كوفيد https t...

In [1]:
ar_df.lang.value_counts()

NameError: name 'ar_df' is not defined