In [2]:
import pandas as pd
import numpy as np
import csv
from langdetect import detect_langs, detect
from html.parser import HTMLParser
import re
import string

In [ ]:
import pickle

In [53]:
file_list = ['_03_20','04_20', '05_20', '06_20', '07_20', '08_20', '09_20' , '10_20', '11_20','12_20','01_21','02_21', '2_03_20', '2_04_20', '2_05_20', '2_06_20', '2_07_20', '2_08_20', '2_09_20', '2_10_20', '2_11_20', '2_12_20', '2_01_21','2_02_21']

In [54]:
url = '/Users/jess/workspace/twint/twint/english_tweets{}.csv'

In [5]:
def get_data(file_list, url, sep):
    df_list = []
    for file in file_list:
        file_url = url.format(file)
        df_list.append(pd.read_csv(file_url, sep=sep))
    return pd.concat(df_list)

In [68]:
init_df = get_data(file_list, url, sep='\t')

/Users/jess/anaconda3/envs/metis/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3347: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [69]:
init_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1244776419676303365,1244776419676303365,2020-03-30 18:59:59 CDT,2020-03-30,18:59:59,-600,1431335726,goreactforasl,GoReact for ASL,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1244776419051352069,1244776419051352069,2020-03-30 18:59:59 CDT,2020-03-30,18:59:59,-600,2790113576,nat_accord,NATIONAL ACCORD,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1244776418694836225,1244776418694836225,2020-03-30 18:59:59 CDT,2020-03-30,18:59:59,-600,66715854,contactohoy,Contacto Hoy,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1244776418598322177,1244776418598322177,2020-03-30 18:59:59 CDT,2020-03-30,18:59:59,-600,1239244116686508033,jockthemess,lenox avenue sosa,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1244776418355150849,1244776418355150849,2020-03-30 18:59:59 CDT,2020-03-30,18:59:59,-600,766285567806021634,iburgmetal,TobiB,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [70]:
init_df.shape

(3296748, 36)

In [71]:
init_df.sort_values(by='date', inplace=True, ascending=True)

In [72]:
init_df.describe()

,id,conversation_id,timezone,user_id,replies_count,retweets_count,likes_count,video,near,geo,source,user_rt_id,user_rt,retweet_id,retweet_date,translate,trans_src,trans_dest
count,3.296748e+06,3.296748e+06,3296748.0,3.296748e+06,3.296748e+06,3.296748e+06,3.296748e+06,3.296748e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.301612e+18,1.301190e+18,-600.0,4.685562e+17,8.656834e-01,2.358445e+00,1.043739e+01,1.393370e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,3.822727e+16,3.980626e+16,0.0,5.511021e+17,2.230864e+01,1.831830e+02,8.860953e+02,3.462979e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.244678e+18,1.305819e+09,-600.0,2.200000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.266831e+18,1.266811e+18,-600.0,2.744474e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.300208e+18,1.300199e+18,-600.0,2.888344e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.333158e+18,1.333138e+18,-600.0,1.079375e+18,1.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.365814e+18,1.365814e+18,-600.0,1.365723e+18,2.062400e+04,1.531890e+05,8.124310e+05,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
init_df.drop(columns=['near', 'geo', 'source', 'user_rt_id', 'user_rt', 'retweet_id', 'retweet_date', 'translate', 'trans_src', 'trans_dest'], inplace=True)

In [74]:
print(init_df['date'].min(), init_df['date'].max())

2020-03-30 2021-02-27

In [75]:
def clean_text(text):
#     text = HTMLParser().unescape(text)
    text = re.sub('[%s]' % re.escape(string.punctuation), ' ', text)
    text = re.sub('[\#""''“”:]', ' ', text)
    text = re.sub('\w*\d\w*', ' ', text)
    return text

In [76]:
init_df['text'] = init_df.tweet.apply(clean_text)

In [77]:
init_df[['tweet', 'text']].head()

,tweet,text
0,Health Workers Study #SignLanguage to Care for...,Health Workers Study SignLanguage to Care for...
119129,Corona Virus has spread among some of those wh...,Corona Virus has spread among some of those wh...
119130,@ArianaGrande bro pls after corona...have this...,ArianaGrande bro pls after corona have this...
119131,@dhanyarajendran Thid Tabliqi thing has become...,dhanyarajendran Thid Tabliqi thing has become...
119132,Désolé mais loin de moi le corona,Désolé mais loin de moi le corona

In [78]:
def detect_lang(text):
    try:
        lang = detect(text)
        return lang
    except:
        return "NaN"

In [79]:
init_df['lang'] = init_df['text'].apply(detect_lang)

In [80]:
init_df.lang.value_counts()

en       1691707
es        420724
pt        329158
de        246497
id        121663
nl        107245
fr         79894
tr         79377
it         53577
ca         17090
sw         16407
tl         15601
hi         13391
sv         12279
so         11345
ja         10093
ar          6662
da          6306
pl          5994
et          5217
hr          4953
sl          3770
ta          3618
no          3588
ru          3377
ro          3126
af          3004
fi          2582
el          2138
cs          1853
cy          1637
vi          1549
mr          1370
hu           953
sq           915
ur           840
sk           815
lv           697
gu           607
th           543
ne           510
te           462
fa           458
uk           450
lt           423
bn           417
kn           333
ko           280
NaN          261
bg           219
ml           189
zh-cn        186
he           147
pa           116
mk           105
zh-tw         30
Name: lang, dtype: int64

In [81]:
init_df['lang'].isnull().sum()

0

In [82]:
(init_df.lang == 'en').sum()

1691707

In [83]:
en_df = init_df[init_df['lang']=='en']

In [84]:
en_df.shape

(1691707, 28)

In [67]:
init_df.shape

(1252623, 28)

In [85]:
en_df.to_pickle("en_df.pkl")