In [29]:
import numpy as np
import pandas as pd

In [34]:
print("Pandas version: ", pd.__version__)
print("Numpy version: ", np.__version__)

Pandas version:  1.1.5
Numpy version:  1.19.2

In [35]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 25)
pd.set_option('display.precision', 3)

In [36]:
turnstiles_2017_file = "https://data.ny.gov/resource/v5y5-mwpb.csv"
turnstiles_2018_file = "https://data.ny.gov/resource/bjcb-yee3.csv"
turnstiles_2019_file = "https://data.ny.gov/resource/xfn5-qji9.csv"

In [45]:
pd.read_csv?

In [37]:
ts_2017 = pd.read_csv(turnstiles_2017_file)
ts_2018 = pd.read_csv(turnstiles_2018_file)
ts_2019 = pd.read_csv(turnstiles_2019_file)

In [38]:
ts_2019.head()

,c_a,unit,scp,station,line_name,division,date,time,description,entries,exits
0,A033,R170,02-00-04,14 ST-UNION SQ,LNQR456W,BMT,2019-12-27T00:00:00.000,00:00:00,REGULAR,6483080,4945335
1,A033,R170,02-00-05,14 ST-UNION SQ,LNQR456W,BMT,2019-12-27T00:00:00.000,00:00:00,REGULAR,17538854,7031168
2,A033,R170,02-06-01,14 ST-UNION SQ,LNQR456W,BMT,2019-12-27T00:00:00.000,00:00:00,REGULAR,71047673,20925389
3,A033,R170,02-00-01,14 ST-UNION SQ,LNQR456W,BMT,2019-12-27T00:00:00.000,00:00:00,REGULAR,2430093,2921770
4,A033,R170,02-00-02,14 ST-UNION SQ,LNQR456W,BMT,2019-12-27T00:00:00.000,00:00:00,REGULAR,14983900,14554087

In [46]:
# not sure why this is showing only 1000 rows - maybe something in the read_csv settings?
# maybe needs a chunk size?
# and clearly the dates below show that the imported data is truncated
ts_2019.shape

(1000, 11)

In [42]:
ts_2019['date'].min()

'2019-12-27T00:00:00.000'

In [44]:
ts_2019['date'].max()

'2019-12-27T00:00:00.000'