In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import os, re, sys, pickle, requests, resource, json
import time
from random import random
from IPython.core.display import clear_output

In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

chromedriver = "/Applications/chromedriver"  # path to the chromedriver executable
os.environ['webdriver.chrome.driver'] = chromedriver
driver = webdriver.Chrome(chromedriver)

## Webscraping Rotten Tomatoes

In order to acquire Tomatometer data, it was necessary to search out the url for each film title individually.  To do this, I imported the cleaned IMDB data and formatted a title string to append to the base Rotten Tomatoes url.

In [170]:
imdb_lookup_df3 = pd.read_json("imdb_lookup_df3.json", lines=True)

In [177]:
imdb_lookup_df3.shape

(83, 7)

In [171]:
imdb_lookup_df3.columns

Index(['title', 'imdb_id', 'title_link', 'director_name', 'director_id',
       'director_link', 'title_cc'],
      dtype='object')

In [17]:
imdb_lookup_df3['title_cc'] = imdb_lookup_df3['title_cc'].str.strip(':')

In [172]:
title_list = imdb_lookup_df3['title_cc']

In [173]:
title_list[0:20]

0                                               beneath
1                               the_million_dollar_duck
2                                 cities_of_last_things
3                                            lazer_team
4                             the_powerpuff_girls_movie
5                                  these_are_the_damned
6                                                   bug
7                                                poison
8                                         american_hero
9                                                undead
10    aqua_teen_hunger_force_colon_movie_film_for_th...
11                                                stung
12                                        the_objective
13                                            curvature
14                                        the_minds_eye
15                                             metropia
16                                         time_changer
17                                save_the_green_planet
18                           jack_brooks_monster_slayer
19                                   spark_a_space_tail
Name: title_cc, dtype: object

In [22]:
# rotten tomatoes url - takes title, lower case, underscores
tomato_url = "https://www.rottentomatoes.com/m/{}"

In [155]:
movie_html = []
tomato_dict = {}
tomato_list = []


def get_page_source(title_list):
    t_success = 0
    t_nan = 0
    
    headers = ['title', 'tomatometer', 'tomato_ct', 'aud_score', 'aud_score_ct']
    
    start_time = time.time()
    tries = 0
    
    for title in title_list:
        url = tomato_url.format(title)
        user_agent = {'User-agent': 'Mozilla/5.0'}
        driver = webdriver.Chrome(chromedriver)
        tomato_response = driver.get(url)
        movie_html.append(driver.page_source)
        
        tries += 1
        time.sleep(2+2*random())
        elapsed_time = time.time() - start_time
        print('Request: {}; Frequency: {} requests/s'.format(tries, tries/elapsed_time))
        clear_output(wait = True)

        tomato_soup = BeautifulSoup(driver.page_source, 'html5lib')
       
        percents = tomato_soup.find_all('span', class_ = 'mop-ratings-wrap__percentage')
        if not percents:
            pass
        try:
            tomatometer = percents[0].text.strip().strip('%')
        except:
            tomatometer = np.nan
        try:
            aud_score = percents[1].text.strip().strip('%')
        except:
            aud_score = np.nan
                
        aud_score_cts = tomato_soup.find_all('strong', class_='mop-ratings-wrap__text--small')
        if not aud_score_cts:
            pass

        try:
            tomato_ct = tomato_soup.find('small', class_="mop-ratings-wrap__text--small").text.strip()
        except:
            tomato_ct = np.nan
        try:
            aud_score_ct = aud_score_cts[1].text.strip('User Ratings: ').strip()
        except:
            aud_score_ct = np.nan

        tomato_dict = dict(zip(headers, [title, tomatometer,tomato_ct,aud_score, aud_score_ct]))

        tomato_list.append(tomato_dict)

In [174]:
get_page_source(title_list)

Request: 1; Frequency: 0.09651267054628379 requests/s
Request: 2; Frequency: 0.1052446846880484 requests/s
Request: 3; Frequency: 0.10583214917210933 requests/s
Request: 4; Frequency: 0.10544584811674267 requests/s
Request: 5; Frequency: 0.10406853674412553 requests/s
Request: 6; Frequency: 0.1041812703857576 requests/s
Request: 7; Frequency: 0.10254388546574102 requests/s
Request: 8; Frequency: 0.10351448883246708 requests/s
Request: 9; Frequency: 0.10415415010313055 requests/s
Request: 10; Frequency: 0.10634002864994331 requests/s
Request: 11; Frequency: 0.10744948449912252 requests/s
Request: 12; Frequency: 0.10938345626721385 requests/s
Request: 13; Frequency: 0.11032251064019022 requests/s
Request: 14; Frequency: 0.11003541014757644 requests/s
Request: 15; Frequency: 0.11064321309124951 requests/s
Request: 16; Frequency: 0.11067666974645807 requests/s
Request: 17; Frequency: 0.10984446792971275 requests/s
Request: 18; Frequency: 0.1108828724122148 requests/s
Request: 19; Frequency: 0.10951326389897312 requests/s
Request: 20; Frequency: 0.10915463853382103 requests/s
Request: 21; Frequency: 0.10835624354220272 requests/s
Request: 22; Frequency: 0.10766028194952848 requests/s
Request: 23; Frequency: 0.1069977251171947 requests/s
Request: 24; Frequency: 0.10704223831045555 requests/s
Request: 25; Frequency: 0.10758153311217411 requests/s
Request: 26; Frequency: 0.10723168897236962 requests/s
Request: 27; Frequency: 0.10703708910933588 requests/s
Request: 28; Frequency: 0.1072005565072094 requests/s
Request: 29; Frequency: 0.10725854044918133 requests/s
Request: 30; Frequency: 0.10686375069837305 requests/s
Request: 31; Frequency: 0.1066434375019728 requests/s
Request: 32; Frequency: 0.10678349845822131 requests/s
Request: 33; Frequency: 0.1063959921438771 requests/s
Request: 34; Frequency: 0.10580571160034007 requests/s
Request: 35; Frequency: 0.10603172940454282 requests/s
Request: 36; Frequency: 0.10642997741766429 requests/s
Request: 37; Frequency: 0.1067945569074049 requests/s
Request: 38; Frequency: 0.10676935760877597 requests/s
Request: 39; Frequency: 0.1063372078797663 requests/s
Request: 40; Frequency: 0.10616664495078272 requests/s
Request: 41; Frequency: 0.10579771175755444 requests/s
Request: 42; Frequency: 0.10516817099897524 requests/s
Request: 43; Frequency: 0.10468834457112679 requests/s
Request: 44; Frequency: 0.10437408349997895 requests/s
Request: 45; Frequency: 0.10388038069564647 requests/s
Request: 46; Frequency: 0.10373084511758478 requests/s
Request: 47; Frequency: 0.10380667398751933 requests/s
Request: 48; Frequency: 0.10408239809366912 requests/s
Request: 49; Frequency: 0.10451034661726952 requests/s
Request: 50; Frequency: 0.10445252600139482 requests/s
Request: 51; Frequency: 0.10429786871806326 requests/s
Request: 52; Frequency: 0.1043479716303133 requests/s
Request: 53; Frequency: 0.10455800147536497 requests/s
Request: 54; Frequency: 0.10476979103150504 requests/s
Request: 55; Frequency: 0.10473773504149453 requests/s
Request: 56; Frequency: 0.1048891509843947 requests/s
Request: 57; Frequency: 0.10466241497051236 requests/s
Request: 58; Frequency: 0.10459251464468215 requests/s
Request: 59; Frequency: 0.10498202536371971 requests/s
Request: 60; Frequency: 0.1048812854717997 requests/s
Request: 61; Frequency: 0.1049492573048312 requests/s
Request: 62; Frequency: 0.10506672357800685 requests/s
Request: 63; Frequency: 0.10544334956460169 requests/s
Request: 64; Frequency: 0.1050728693545009 requests/s
Request: 65; Frequency: 0.10544413743502501 requests/s
Request: 66; Frequency: 0.1053420950696746 requests/s
Request: 67; Frequency: 0.10527762121502478 requests/s
Request: 68; Frequency: 0.10558270686237327 requests/s
Request: 69; Frequency: 0.10563789037323289 requests/s
Request: 70; Frequency: 0.10572896679021537 requests/s
Request: 71; Frequency: 0.10565730286305053 requests/s
Request: 72; Frequency: 0.10551420577998648 requests/s
Request: 73; Frequency: 0.10527471504142001 requests/s
Request: 74; Frequency: 0.10523802814775624 requests/s
Request: 75; Frequency: 0.10562569654518744 requests/s
Request: 76; Frequency: 0.10588143270382618 requests/s
Request: 77; Frequency: 0.10546808113372654 requests/s
Request: 78; Frequency: 0.10567644678489137 requests/s
Request: 79; Frequency: 0.10553676427932401 requests/s
Request: 80; Frequency: 0.10557902799801938 requests/s
Request: 81; Frequency: 0.10546481592369061 requests/s
Request: 82; Frequency: 0.1053661422650389 requests/s
Request: 83; Frequency: 0.10481752548171248 requests/s
There are 2083 titles in movie_html.
Successes: 0, NaNs:0

In [175]:
tomato_list[0:10]

[{'title': 'tenet',
  'tomatometer': '70',
  'tomato_ct': '324',
  'aud_score': '76',
  'aud_score_ct': 'Verified Ratings: 5,837'},
 {'title': 'the_midnight_sky',
  'tomatometer': '51',
  'tomato_ct': '226',
  'aud_score': '26',
  'aud_score_ct': '2,122'},
 {'title': 'wonder_woman',
  'tomatometer': '83',
  'tomato_ct': '12',
  'aud_score': '78',
  'aud_score_ct': '1,910'},
 {'title': 'avengers_endgame',
  'tomatometer': '94',
  'tomato_ct': '532',
  'aud_score': '90',
  'aud_score_ct': '70,830'},
 {'title': 'outside_the_wire',
  'tomatometer': '36',
  'tomato_ct': '58',
  'aud_score': '33',
  'aud_score_ct': '295'},
 {'title': 'dune',
  'tomatometer': '75',
  'tomato_ct': 'N/A',
  'aud_score': nan,
  'aud_score_ct': '1,261'},
 {'title': 'interstellar',
  'tomatometer': '72',
  'tomato_ct': '365',
  'aud_score': '86',
  'aud_score_ct': '176,217'},
 {'title': 'love_and_monsters',
  'tomatometer': '92',
  'tomato_ct': '75',
  'aud_score': '89',
  'aud_score_ct': 'Verified Ratings: 54'},
 {'title': 'mad_max_fury_road',
  'tomatometer': '97',
  'tomato_ct': '424',
  'aud_score': '86',
  'aud_score_ct': '128,488'},
 {'title': 'star_wars_the_rise_of_skywalker',
  'tomatometer': '51',
  'tomato_ct': '500',
  'aud_score': '86',
  'aud_score_ct': 'Verified Ratings: 98,277'}]

In [178]:
len(tomato_list)

2083

In [179]:
tomato_df2 = pd.DataFrame(tomato_list)
tomato_df2.head()

              title tomatometer tomato_ct aud_score             aud_score_ct
0             tenet          70       324        76  Verified Ratings: 5,837
1  the_midnight_sky          51       226        26                    2,122
2      wonder_woman          83        12        78                    1,910
3  avengers_endgame          94       532        90                   70,830
4  outside_the_wire          36        58        33                      295

In [180]:
len(tomato_df2)

2083

In [181]:
tomato_df2['tomato_ct']= tomato_df2['tomato_ct'].replace('N/A', np.NaN)

In [182]:
tomato_df2['aud_score_ct']= tomato_df2['aud_score_ct'].replace('Not yet availabl', np.NaN)

In [183]:
tomato_df2.describe()

        title tomatometer tomato_ct aud_score aud_score_ct
count    2083        1369      1098      1081         1352
unique   2017         100       274        92         1170
top     cargo           0         5        45           30
freq        3          35        38        26            6

In [185]:
tomato_df2.to_json('tomato_data2.json', orient='records', lines=True)